@model QLHS_Admin.Models.RoomType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType_MaxCusNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType_MaxCusNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType_Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType_Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType_Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType_Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType_FTList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType_FTList)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomType_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
