@model QLHS_Admin.Models.Facility

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Facility</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fac_Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fac_Img)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Fac_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
