@model QLHS_Admin.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus_Birth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus_Birth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus_Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cus_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
