@model IEnumerable<QLHS_Admin.Models.Customer>

@{
    ViewData["Title"] = "Customer";
}

@using System.Globalization;


<div class="card">
    <div class="card-body">


        <div class="row">


            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead class="text-center">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Gender
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                   Birthday
                                </th>
                                <th>
                                    Phone
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cus_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cus_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cus_Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cus_Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cus_Email)
                                    </td>
                                    <td>
                                        @item.Cus_Birth.ToString("d", new CultureInfo("vi-vn"))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cus_Phone)
                                    </td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- plugins:js -->
<script src="/Admin/vendors/js/vendor.bundle.base.js"></script>
<script src="/Admin/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/Admin/js/off-canvas.js"></script>
<script src="/Admin/js/hoverable-collapse.js"></script>
<script src="/Admin/js/misc.js"></script>
<script src="/Admin/js/settings.js"></script>
<script src="/Admin/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/Admin/js/dashboard.js"></script>
<script src="/Admin/js/editorDemo.js"></script>
<script src="/Admin/js/data-table.js"></script>